
<div class="banner">
  <header class="header">
    |
    <div class = "logo"></div>
    <h2 class ="lang">English (DE)</h2>
    <h2 class = "currency"> EUR €</h2>
    <h2 class = "become"> Become Owner</h2>
    <h2 class = "help">Help</h2>
    <h2 class = "reg">Register</h2>
    <h2 class = "log">Login</h2>
  </header>
  <div class = "center-searchbar">
  <%= link_to "discover them dogs", dogs_path, class: "btn btn-success"%>
  </div>
</div>
</div>
