
<div class="banner">
  <header class="header">
    <div class = "logo"></div>
    <h2 class ="lang"></h2>
    <h2 class = "currency"></h2>
    <h2 class = "become"> </h2>
    <h2 class = "help"></h2>
    <h2 class = "reg"></h2>
    <h2 class = "log">Login</h2>
  </header>
  <div class = "center-searchbar">
  <%= link_to "discover them dogs", dogs_path, class: "btn btn-success"%>
  </div>
</div>
</div>
